/** @format */

.shiny-text {
  color: #efe1ff5d;
  background: linear-gradient(
    120deg,
    rgba(239, 238, 245, 0) 40%,
    rgba(71, 35, 219, 0.99) 100%,
    rgba(255, 255, 255, 0) 60%
  );
  background-size: 200% 100%;
  -webkit-background-clip: text;
  background-clip: text;
  display: inline-block;
  animation: shine 5s linear infinite;
}

@keyframes shine {
  0% {
    background-position: 100%;
  }
  100% {
    background-position: -100%;
  }
}

.shiny-text.disabled {
  animation: none;
}
