/**
 * 定义 keyframes
 *
 * @format
 */

@keyframes shine {
  0% {
    background-position: 100%;
  }
  100% {
    background-position: -100%;
  }
}

/* 通过 @theme 扩展动画配置 */
@theme {
  extend {
    animation: {
      shine: "shine 5s linear infinite";
    }
  }
}
